body, head { margin: 0; padding: 0; text-decoration: none; outline: none;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#root {
    min-width: 100%;
    min-height: 100vh;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: 100%;
    text-align: center;
    vertical-align: center;
    font-size: 42px;
    color: #fff;
    font-weight: bold;
}
